<!DOCTYPE html>
<html>
    <head>
         <title>About</title>
        <link rel="stylesheet" href="./css/style.css">
        <link rel="icon" href="./img/weather.png">
    </head>
    <body>
        <div class="main-content">
         {{>header}}
         <p>This website was created by Anurag Mishra.It uses data from mapbox.com and weatherstack.com</p>
        <img src={{source}}>
        </div>
        {{>footer}}
    </body>
</html>